.navbar {
	background: #fff;
	height: 100px;
	width: 100%;
	display: flex;
	justify-content: center;
	position: fixed;
	top: 40px;
	align-items: center;
	font-size: 1.2rem;
	box-shadow: 1px 1px 10px black;
	overflow: hidden;
	z-index: 3000;
}

.btn {
	position: absolute;
	top: 50px;
	right: calc(50% - 450px);
	position: fixed;
}

.navbar.active {
	background-color: #0089c0;
}

.navbar-logo {
	background-color: #fff;
	position: fixed;
	text-decoration: none;
	left: calc(50% - 400px);
	height: 90px;
	z-index: 300;
}
.navbar-logo:hover {
	transform: scale(1.01);
}

.nav-menu {
	display: grid;
	position: fixed;
	grid-template-columns: repeat(5, auto);
	grid-gap: 10px;
	list-style: none;
	text-align: center;
	width: auto;
	justify-content: center;
	margin-right: 2rem;
	z-index: 100;
}

.nav-item {
	display: flex;
	align-items: center;
	height: 80px;
	padding-left: 20px;
}

.nav-links {
	color: #0089c0;
	text-decoration: none;
	padding: 0.5rem 1rem;
	font-size: 18px;
}

.nav-links:hover {
	text-decoration: underline;
	transition: all 0.5s ease-out;
}

.nav-links-mobile {
	display: none;
}

.menu-icon {
	display: none;
	position: absolute;
}
.footer {
	position: fixed;
	bottom: 20px;
	background-color: rgb(12, 49, 134);
}

@media screen and (max-width: 960px) {
	.navbar {
		top: 20px;
		height: 70px;
		transition: all 0.5s ease;
		z-index: 10000;
	}

	.nav-menu {
		display: table-column;
		top: 90px;
		left: -100%;
		opacity: 1;
	}

	.nav-menu.active {
		background: #1d262f;
		width: 100%;
		position: flex;
		left: 0;
		opacity: 1;
		transition: all 0.5s ease;
		height: 100%;
		top: 90px;
		z-index: 2000;
		overflow: hidden;
	}

	.nav-links {
		width: 100%;
		position: auto;
		height: 0px;
		font-size: 25px;
		align-items: baseline;
		color: white;
	}

	.nav-links:hover {
		text-decoration: underline;
	}

	.menu-icon {
		border-color: #0089c0;
		display: block;
		position: fixed;
		transform: translate(-100%, 60%);
		font-size: 1.8rem;
		cursor: pointer;
		top: 20px;
		left: 90px;
	}

	.fa-times {
		font-size: 2rem;
		color: black;
	}
	.fa-bars {
		color: black;
	}
	.navbar-logo {
		align-items: center;
		margin-left: 25px;
		left: unset;
		transform: scale(0.7);
	}
	.navbar-logo:hover {
		transform: scale(0.7);
	}
	.nav-links-mobile {
		display: block;
		text-align: center;
		padding: 1.5rem;
		margin: 2rem auto;
		border-radius: 4px;
		width: 80%;
		background: #d1d3d4;
		text-decoration: none;
		color: #fff;
		font-size: 1.5rem;
	}

	.nav-links-mobile:hover {
		background: rgb(206, 35, 35);
		color: #1888ff;
		transition: 250ms;
	}
	.horizontal {
		width: 80vw;
		margin: 50px 20px 20px 10%;
		position: absolute;
	}
}
@media screen and (max-height: 750px) {
	.btn.active {
		top: calc(50% + 220px);
	}
}
