.hours {
	top: 8px;
	position: fixed;
	font-size: 18px;
	color: #ffffff;
	left: 40px;
}
span {
	color: rgb(185, 8, 8);
	font-family: helvetica;
	font-weight: bold;
}

.phone {
	font-size: 25px;
	font-family: sans-serif;
	color: #ffffff;
	text-decoration: none;
}
.social-container {
	background: rgb(12, 49, 134);
	padding: 20px 70px;
	position: fixed;
	width: 100%;
	z-index: 2000;
}
a.social {
	font-size: 12px;
	display: inline-block;
	color: #ffffff;
	top: 8px;
	margin-right: 40px;
}
.find-us {
	color: rgb(250, 250, 250);
	text-decoration: none;
	font-size: 22px;
	position: absolute;
	right: 160px;
	top: 5px;
}
.facebook {
	right: 0;
	position: absolute;
}
.instagram {
	right: 40px;
	position: absolute;
}
.yelp {
	right: 80px;
	position: absolute;
}
@media screen and (max-width: 960px) {
	.content {
		display: none;
	}
	.social-container {
		height: 50px;
	}
}
