* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: cursive, sans-serif;
}

.Home,
.Menu,
.Contact,
.About,
.Quote {
	display: flex;
	height: 90vh;
	align-items: center;
	justify-content: center;
	font-size: 3rem;
}
