* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: cursive, sans-serif;
}
a {
	text-decoration: none;
	color: unset;
}
button {
	background-image: linear-gradient(to right, #3191df 0%, #38a9ea 51%, #107bd3 100%);
	margin: 10px;
	padding: 15px 35px;
	text-align: center;
	text-transform: uppercase;
	transition: 0.5s;
	background-size: 200% auto;
	color: white;
	border-radius: 10px;
	border: none;
	display: block;
}

button:hover {
	background-position: right center; /* change the direction of the change here */
	color: #fff;
	text-decoration: none;
}
